@import "reset.css";

@default: #1698d9;
@defaultHover: #2ea8e6;
@selected: #d91667;
@selectedHover: #e62e7a;
@disabled: #b3b3b3;

@white: #ffffff;
@grey: #666666;

@font-face {
    font-family: "Exo";
    src: url("../fonts/Exo2.0-Thin.otf") format("opentype");
    font-weight: normal;
}

body {
    background: url('../images/pattern.png') 0 0 repeat;
    font-family: "Trebuchet MS", "Helvetica", Arial, sans-serif;
}

h1 {
    text-align: center;
    font-family: "Exo";
    color: @white;
    font-size: 36px;
    // padding-top: 40px;
    margin-bottom: 28px;
    font-weight: 300;
}

.cards {
    // padding: 0 80px;
    transform: translate(-50%, -50%);
    text-align: justify;
    position: absolute;
    width: 1120px;
    left: 50%;
    top: 50%;
    &:after {
        display: inline-block;
        width: 100%;
        content: '';
    }
}

.card {
    display: inline-block;
    vertical-align: top;
    width: 320px;

    &__wrapper {
        box-sizing: border-box;
        position: relative;
        padding-top: 43px;
        overflow: hidden;
        cursor: pointer;
        height: 480px;
        width: 320px;
    }
    &__top {
        box-sizing: border-box;
        border-radius: 0 12px 0 0;
        border-width: 4px 4px 0 0;
        border-color: @default;
        border-style: solid;
        background: @white;;
        position: absolute;
        padding-top: 19px;
        height: 44px;
        width: 277px;
        right: 0;
        top: 0;
        &:before {
            transform: rotate(-45deg);
            border-width: 4px 0 0 0;
            border-color: @default; 
            border-style: solid;
            background: #fff;
            position: absolute;
            display: block;
            height: 65px;
            width: 65px;
            content: '';
            z-index: -1;
            left: -31px;
            top: 7px;
        }
    }
    &__message {
        color: @grey;
    }

    &__content {
        background: @white;
        border-radius: 0 0 12px 12px;
        border-width: 0 4px 4px 4px;
        border-color: @default;
        box-sizing: border-box;
        border-style: solid;
        padding-left: 44px;
        padding-top: 10px;
        height: 100%;
        &:before {
            background: url(../images/cat.png) 0 -1px no-repeat;
            border-radius: 8px;
            position: absolute;
            display: block;
            height: 269px;
            width: 311px;
            content: '';
            bottom: 4px;
            left: 4px;
        }
    }
    &__name {
        font-size: 48px;
        line-height: 40px;
        font-weight: bold;
        margin-bottom: 8px;
    }
    &__option {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 17px;
    }
    &__info {
        font-size: 14px;
        line-height: 16px;
        color: @grey;

        p {}
        span {
            font-weight: bold;
        }
    }
    &__weight {
        border-radius: 50%;
        height: 80px;
        width: 80px;
        font-size: 21px;
        text-align: center;
        box-sizing: border-box;
        color: @white;
        position: absolute;
        right: 15px;
        bottom: 15px;
        padding-top: 9px;
        background: @default;
        span {
            font-size: 42px;
            line-height: 1;
            display: block;
        }
    }

    &__hint {
        font-size: 13px;
        text-align: center;
        color: @white;
        padding: 15px 0 0;
        &-text {
            display: none;
            &--default {
                display: block;
                a {
                    text-decoration: none;
                    color: @default;
                    span {
                        display: inline-block;
                        border-bottom: 1px dashed @default;
                    }
                }
            }
            &--description {}
            &--sold-out { color: #ffff66; }
        }
    }

    &--defaultHover {
        .card__top {
            border-color: @defaultHover;
            &:before {
                border-color: @defaultHover;
            }
        }
        .card__content {
            border-color: @defaultHover;
        }
        .card__weight {
            background: @defaultHover;
        }
    }
    &--selected {
        .card__top {
            border-color: @selected;
            &:before {
                border-color: @selected;
            }
        }
        .card__content {
            border-color: @selected;
        }
        .card__weight {
            background: @selected;
        }
        .card__hint-text {
            display: none;
            &--description {
                display: block;
            }
        }
    }
    &--selectedHover {
        .card__top {
            border-color: @selectedHover;
            &:before {
                border-color: @selectedHover;
            }
        }
        .card__content {
            border-color: @selectedHover;
        }
        .card__weight {
            background: @selectedHover;
        }
        .card__message {
            font-size: 0;
            &:after {
                content: 'Котэ не одобряет?';
                display: inline;
                font-size: 16px;
                color: @selectedHover;
            }
        }
    }
    &--disabled {
        .card__top {
            border-color: @disabled;
            &:before {
                border-color: @disabled;
            }
        }
        .card__content {
            border-color: @disabled;
        }
        .card__weight {
            background: @disabled;
        }
        .card__content:before,
        .card__message,
        .card__name,
        .card__option,
        .card__info {
            opacity: .5;
            color: @disabled;
        }
        .card__hint-text {
            display: none;
            &--sold-out {
                display: block;
            }
        }
    }
}