extends partial/layout

block content
    include partial/mixin_card
    -
        var options = [
                {option: "с фуа-гра", status: "default", description: "Печень утки разварная с артишоками.", weight: "0,5", portions: 10, mice: 1, customer: ""},
                {option: "с рыбой", status: "selected", description: "Головы щучьи с чесноком да свежайшая сёмгушка.", weight: "2", portions: 40, mice: 2, customer: ""},
                {option: "с курой", status: "disabled", description: "Филе из цыплят с трюфелями в бульоне.", weight: "5", portions: 100, mice: 5, customer: "заказчик доволен"}
            ]

    .cards
        h1  Ты сегодня покормил кота?
        
        each option in options
            +card(option)
