doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(href="assets/css/main.min.css", rel="stylesheet")
        
    body

        block content

        script(src="assets/js/main.min.js")
        


