mixin card(params)
    .card(class="card--" + params.status)
        .card__wrapper
            .card__top
                .card__message  Сказочное заморское яство
            .card__content
                .card__name Нямушка
                .card__option=  params.option
                .card__info
                    p
                        span= params.portions
                        |
                        |   порций
                    p
                        if params.mice > 1
                            span=    params.mice
                        |
                        if (params.mice < 2)
                            |   мышь
                        else if (params.mice> 1 && params.mice < 5)
                            |   мыши
                        else
                            |   мышей
                        |
                        |   в подарок
                    p=    params.customer
                .card__weight
                    span=  params.weight
                    |   кг

        .card__hint
            .card__hint-text.card__hint-text--default    Чего сидишь? Порадуй котэ,
                |
                |
                a.select_product(href="#")
                    span купи
                    | .
            .card__hint-text.card__hint-text--description= params.description
            .card__hint-text.card__hint-text--sold-out Печалька, #{params.option} закончился.